* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 12px;
}

.goku {
  display: block;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  filter: drop-shadow(10px 10px 20px yellow);
}

.spidy {
  display: block;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 15px 0px 15px 0px #2d2d2d;
}
.cajita {
  width: 700px;
  height: 400px;
  background: white;
  place-content: center;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 15px 10px 15px 0px #2d2d2d;
}
