* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 18px;
}

.spidy {
  display: block;
  text-align: center;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 10px 10px 0 0 #000;
}

.cajita {
  width: 700px;
  height: 400px;
  background: white;
  place-content: center;
  text-align: center;
  margin: 40px auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 10px 10px #000;
  padding: 0 0 30px;
}

.boton {
  background: #ac0202;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 13px 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

.goku {
  display: block;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  filter: drop-shadow(15px 15px 20px yellow);
}
